<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-PugPlugin" version="0.0.1">
    <name>PugPlugin</name>

    <description>A Pug for testing.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/GioOli/PugPlugin.git</repo>
    <issue>https://github.com/GioOli/PugPlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/pugplugin.js" name="PugPlugin">
        <clobbers target="window.plugins.PugPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PugPlugin">
                <param name="android-package" value="com.pug.cordova.plugin.PugPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/PugPlugin.java" target-dir="src/com/pug/cordova/plugin" />
    </platform>
</plugin>
